{% extends "base.html" %}

{% block content %}
<div class="about-card">
   

<h2>About FitZone Gym</h2>

<p>
At FitZone Gym, we focus on creating a fitness experience that goes beyond
exercise. Our goal is to help you build a strong body and a healthy mind.
</p>

<h3>Our Core Values</h3>

<ul>
    <li>✦ Commitment to results</li>
    <li>✦ Supportive community</li>
    <li>✦ Professional training</li>
    <li>✦ Health and wellness</li>
</ul>

<p>
We believe consistency and guidance are the keys to long-term fitness success.
</p>
</div>
{% endblock %}
